<div class="container">

  <%= image_tag(@photo.photo.url, :class => "img-responsive") %>

  <div class="page-header">
  <!-- <hr> -->
  <h2> <%= @photo.title %> </h2>
  <h5> <%= @photo.description %> </h5>
  <!-- <hr> -->
  </div>

  <h4>Komentarze</h4>

  <% if @photo.comments.count == 0 then %>
    <h5>Nikt jeszcze nie skomentował tego zdjęcia, bądź pierwszy!</h5>
  <% else %>
    <% @photo.comments.each do |comment| %>
      <div class="media">
        <div class="media-left">
          <%= image_tag(comment.user.avatar, size: "48x48") %>
        </div>
        <div class="media-body">
          <h4 class="media-heading"> 
            <%= comment.user.login %> 
            <small> <%= comment.created_at.to_s(:long) %> </small>
          </h4>
          <%= comment.content %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="well" style="margin-top: 1cm">
    <h4>Napisz komentarz</h4>
    <%= form_for [@photo, Comment.new] do |f| %>
    <div class="input-group">
      <span class="input-group-addon"> 
        <%= image_tag(current_user.avatar, size: "40x40", align: "top") %>  
      </span>
      <%= f.text_area(:content, class: "form-control", rows: "2") %>
    </div>
    <%= f.submit("Submit", class: "btn btn-primary") %>
    <% end %>
  </div>

  <hr>

</div>