<!DOCTYPE html>
<html>
<head>
  <title>Imago</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top:60px">
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" style="height: 30px" role="navigation">
    <div class="container-fluid">
      <div class="nav navbar-nav navbar-right" >
        <li><%= link_to("Upload photo", new_photo_path) %></li>
        <% if current_user != nil then %>
          <li><%= link_to("Logout", destroy_user_session_path) %></li>
          <li><%= link_to(image_tag(current_user.avatar, class: "img-thumbnail", size: "48x48"), user_path(current_user)) %></li>
        <% else %>
          <li>Login</li>
        <% end %>
      </div>
    </div>
  </nav>
  
  <%= yield %>
  
</body>
</html>
